*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    font-family: "Public Sans", poppins, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2, h3 {
    font-family: "Ibarra Real Nova", Arial, Helvetica, sans-serif;
}
a{
    display: inline-block;
    text-decoration: none;
}
footer{
    background-color: #33323D;
    height: 80px;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;

}
.container{
    width: 85%;
    margin: auto;
}
footer .container{
    display: flex;
    justify-content: space-between;
}
.footer-left, .footer-right{
    display: flex;
    align-items: center;
}
.footer-left i, .logo{
    font-size: 3em;
    display: inline-block;
}
i.fa.fa-caret-down{
    margin-right: 20px;
}

footer a{
    color: white;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
header a, footer a{
    text-decoration: none;
    font-size: 12px;
    margin: 0 8px;
}
header a{
    color: black;
}

.active{
    color: #5FB4A2;
}

.hero{
    min-height: 400px;
    position: relative;
}
.hero-content{
    position: absolute;
    bottom: 0;
}
.hero h1{
    font-size: 50px;
}
.hero-link{
    margin-top: 10px;
    padding: 20px;
    width: 150px;
    font-size: 12px;
    text-align: right;
    background-color: #203A4C;
    color: white;
    position: relative;
}
.hero-link span{
    position: absolute;
    display: inline-block;
    background-color: #1D3444;
    height: 100%;
    left: 0;
    top: 0;
    padding: 15px;
    display: flex;
    align-items: center;
}